@import "main.scss";

.cost {
  .box{
    @include sm-box;
  }

  .graph {
    @include big-box;
  }
}

.tooltip-box {
  &.center {
    @include transform(translateX(-50%) translateY(calc(-100% - 10px)) !important);
    position: absolute !important;
    bottom: 0 !important;
    height: max-content;
  }
  &.center:after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: calc(50% - 5px);
    border-top: 5px solid rgba(235, 239, 243, 0.9);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}

#cost-tooltip{
  font-family: 'SFUIDisplay-Bold';
  color: #6b92ab;
  font-size: 10px;
  .gray {
    font-family: 'SFUIDisplay-Light';
    color: #4a4a4a;
    font-size: 7px;
  }
  .red{
    color: #d65c3d;
  }
  .cost{
    font-size: 6px;
  }
  .sb{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}


