header.item-details {
  height: 83px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  padding: 0 49.5px 0 35.5px !important;
  margin-bottom: 23px;

  .title{
    color: #4a4a4a;
  }

  .content {
    display: flex;
    justify-content: space-between;

    .item-name{
      color: #4a90e2;
      margin-top: 8px;
    }
    .item-id{
      margin-top: 4.5px;
    }
  }
}