// Main colors
$main-color-blue: #6b92ab;
$main-color-gray: #d5d5d5;
$main-color-light: #dbecf8;
$main-color-red: #d65c3d;

// Additional colors
$add-color-blue-1: #76ddfb;
$add-color-blue-2: #53a8e2;
$add-color-blue-3: #2c82be;
$add-color-green-1: #a5cb84;
$add-color-green-2: #c1e89d;
$add-color-green-3: #d6eec4;

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url(../assets/fonts/9202.otf) format('otf');
}

@font-face {
  font-family: 'SFProText';
  src: local('SFProText'),
    url(../assets/fonts/SanFrancisco/SFUIText-Regular.woff) format('woff'),
    url(../assets/fonts/SanFrancisco/SFUIText-Regular.ttf) format('truetype');

}

@font-face {
  font-family: 'SFUIDisplay-Bold';
  src: local('SFUIDisplay-Bold'), url(../assets/fonts/SanFrancisco/SFUIDisplay-Bold.woff) format('woff');
}

@font-face {
  font-family: 'SFProText-Light';
  src: local('SFProText-Light'), url(../assets/fonts/SanFrancisco/SFUIText-Light.woff) format('woff');
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: 'SFProText', sans-serif;
  font-size: 13.5px;
  line-height: 14px;
  letter-spacing: 0;
  color: $main-color-blue;
}

h2 {
  font-family: 'SFProText-Light', sans-serif;
  font-size: 8px;
  letter-spacing: 0;
  color: #243847;
}

h3 {
  font-family: 'SFProText-Light', sans-serif;
  font-size: 7px;
  letter-spacing: 0;
  color: #777777;
}

h4 {
  font-family: 'SFProText-Light', sans-serif;
  font-size: 6px;
  letter-spacing: 0;
  color: #9e9e9e;
}

h5 {
  font-family: 'SFProText-Light', sans-serif;
  font-size: 5px;
  letter-spacing: 0.1px;
  color: #485465;
}

@mixin sm-box() {
  position: relative;
  width: 151.5px;
  height: 56.5px;
  object-fit: contain;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 4.5px 0 rgba(0, 0, 0, 0.02);
  padding: 9px 15px;

  h3 {
    margin-bottom: 7.5px;
  }
}

@mixin big-box() {
  height: 220.5px;
  object-fit: contain;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  padding: 9px 15px;
  margin-bottom: 24.5px;
}

@mixin transform($properties) {
  -webkit-transform: $properties;
  -moz-transform: $properties;
  -ms-transform: $properties;
  -o-transform: $properties;
  transform: $properties;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f7faff;
  font-family: "SFProText", sans-serif;
}

.main {
  padding: 0 49.5px 0 35.5px;
}