@import "main.scss";

.sidebar {
  background: $main-color-blue;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;

  .logo-title-wrap {
    border-bottom: solid 0.5px #fafdff;
    height: 65px;
    padding: 3.8px 0 5.2px 0;
    .logo-link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #ffffff;

      .logo-title {
        margin: 0;
        font-family: 'Helvetica', sans-serif;
        font-size: 46.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
      }
    }
  }

  ul.main-menu {
    margin: 0;
    padding: 0;

    & > li {
      border-bottom: 0.5px solid white;
      & > a {
        padding-left: 24px;
      }
    }

    .submenu {
      margin-left: 45.8px;
      padding: 0;

      a {
        padding-left: 14.8px;
      }

      & .submenu {
        li{
          a{
            padding-left: 29px;
            line-height: 40.5px;
          }
        }
      }

    }

    li {
      vertical-align: center;
      list-style: none;

      img{
        margin-right: 12.6px;
      }

      a {
        display: flex;
        line-height: 36px;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 13.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #fdfffa;
        text-decoration: none;

        &:hover {
          transition: background 350ms ease;
          background: #A6BDCB;
        }
      }
    }
  }
}



